<div class="row">
    <div class="col-sm-6">
      <%=  form_for [@community, @post] do |form| %> <%# Here we group the community and post together since posts are nested within communities %>

        <div class="form-group">
          <%= label_tag :title %>
          <%= form.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= label_tag :body %>
          <%= form.text_field :body, class: "form-control" %>
        </div>

        <%= form.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
